
<!-- 
    1. Using the class definitions that where defined in the select attributes in jumbotron HTML.
        - Text below  is rendered within the proper insertion point in the component.
-->
<bs-jumbotron> 
    <div class="heading">
        Hello world!
    </div>
    <div class="body">
        This is a simple hero unit.
    </div>
    <div class="description">
        It uses utility for typogrophy and spacing to space content out wihtin the larger container.
    </div>
    <div class="button">
        Learn more
    </div>
</bs-jumbotron>

<products></products>
<br>

<app-github></app-github>



<router-outlet></router-outlet>