<h2>
    Products
</h2>

    <!-- 
        1. Writing a for loop that loops through the products array and saves the current value being itterated over in the local variable product. The array is retreived from ProductService and inputs each data element in the products array for each product component. 
            - Each data element provides Product component with values from properties imageURL, productName, releaseData, description
        2. We then render out each product separetly. 
    -->
 <div *ngFor="let product of products">
     <product [data]="product"></product>
 </div>